.svn
*.lk
*.sav

#Compiled files and other files generated during compilation.
*.dmb
*.rsc
*.lk
*.int
/data/mode.txt
/_maps/backup

#Logfiles
*.log
/data/investigate/**
/data/logs/**
data/appearance_full.ban
data/banlist.bdb
data/job_full.ban
data/job_fullnew.bdb
